{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'asserts/css/main.css' %}" />
    <title>Home Page</title>
</head>
<body>
    <main>
        <div class="head-section">
            <video autoplay muted loop>
                <source id="first-vid" src="{% static 'asserts/videos/background.mp4'%}" type="video/mp4">
            </source>
            </video>
            <div id="head-nav">
                <h1>Vilcorn</h1>
                <ul>
                    <a href="">Home</a>
                    <a href="">About</a>
                    <a href="">Service</a>
                    <a href="">Gallery</a>
                    <a href="">Contact Us</a>

                </ul>
            </div>
            <div class="welcome">
                <h1>welcome Guest</h1>
                <p>The great advantage of a hotel is that it is a refuge from home life.</p>
            </div>
        </div>
        <div class="about-section">
            <h1>What Drives Us</h1>
            <div class="section">
                <div>
                    <p>Hospitality is present when something happens for you. It is absent when something happens to you. Those
                         two simple prepositions  for and to  express it all.</p>
                    <p>We see our customers as invited guests to a party, and we are the hosts. It's our job every day
                         to make every important aspect of the customer experience a little bit better.</p>
                </div>
                <div >
                    <ul class="fonts-icons">
                        <a href=""><i class="icons fa fa-twitter-square fa-3x" aria-hidden="true"></i></a>
                        <a href=""><i class="icons fa fa-facebook-square fa-3x" aria-hidden="true"></i></a>
                        <a href=""><i class="icons fa fa-instagram fa-3x" aria-hidden="true"></i></a>
                        <a href="https://github.com"><i class="icons fa fa-github-square fa-3x" aria-hidden="true"></i></a>
                    </ul>
                </div>
            </div>
        </div>
        <div class="gallery" id="views">
            <h1>Gallery</h1>
        </div>
    </main>
</body>
</html>