{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'asserts/css/main.css' %}" />
    <title>Home Page</title>
</head>
<body>
    <main>
        <div class="head-section">
            <video autoplay muted loop>
                <source id="first-vid" src="{% static 'asserts/videos/background.mp4'%}" type="video/mp4">
            </source>
            </video>
            <div id="head-nav">
                <h1>Vilcorn</h1>
                <ul>
                    <a href="">Home</a>
                    <a href="">About</a>
                    <a href="">Service</a>
                    <a href="">Gallery</a>
                    <a href="">Contact Us</a>

                </ul>
            </div>
            <div class="welcome">
                <h1>welcome Guest</h1>
                <p>The great advantage of a hotel is that it is a refuge from home life.</p>
            </div>
        </div>
        <div class="about-section">
            <h1>About Us</h1>
            <div class="section-grid">
                <div>
                    <img id= "about-img"src="{%static 'asserts/images/about_us/about4.jpg'%}" alt="about us descirption" />
                </div>
                <div>
                    <p>Hospitality is present when something happens for you. It is absent when something happens to you. Those
                         two simple prepositions  for and to  express it all</p>
                    <p>We see our customers as invited guests to a party, and we are the hosts. It's our job every day
                         to make every important aspect of the customer experience a little bit better.</p>
                </div>
            </div>
        </div>
    </main>
</body>
</html>